@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: rgba(37, 43, 66, 1);
    --second-text-color: rgba(115, 115, 115, 1);
    --primary-color: rgba(255, 166, 43, 1);
    --secondary-color-1: rgba(0, 160, 193, 1);
    --muted-color: rgba(189, 189, 189, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.name {
    color: var(--primary-color, rgba(255, 166, 43, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.wrap {
    max-width: 1050px;
    min-width: 414px;
    margin: 0 auto;
}

/* header */
.header {
    background: rgba(243, 243, 243, 1);
    padding-bottom: 120px;
}

.header__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__block ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 40px 0;
}

.header__block h3 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}

.header__block a {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.header__block li {
    margin-left: 21px;
}

.header h1 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 120px 0 40px;
}

.header h4 {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 40px;
}

.header__button {
    text-align: center;
}

.header__button--btn1 {
    border-radius: 37px;
    background: var(--primary-color, rgba(255, 166, 43, 1));
    color: var(--light-text-color, rgba(255, 255, 255, 1));
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 10px 36px;
    box-sizing: border-box;
    text-decoration: none;
    margin-right: 5px;
}

.header__button--btn2 {
    box-sizing: border-box;
    border: 1px solid var(--secondary-color-1, rgba(0, 160, 193, 1));
    border-radius: 37px;
    color: var(--secondary-color-1, rgba(0, 160, 193, 1));
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    padding: 10px 36px;
    text-decoration: none;
    margin-left: 5px;
}

/* choose */
.choose {
    padding: 145px 0 70px;
}

.choose h2 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
}

.choose p {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0 45px;
}

.choose__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose__element {
    flex-basis: 328px;
    box-sizing: border-box;
    border: 1px solid rgba(232, 232, 232, 1);
    background: rgba(255, 255, 255, 1);
    padding: 35px 40px;
    margin-bottom: 30px;
}

.choose__element--title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.choose__element--title h5 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0 0 0 15px;
}

.choose__element p {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 0;
}

/* comment */
.comment .wrap {
    background-color: rgba(243, 243, 243, 1);
    padding: 80px 0 80px;
}

.comment h2 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
}

.comment p {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0 80px;
}

.comment__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment__element--title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 35px;
}

.star {
    margin: 30px 0 20px 35px;
}

.comment__element {
    background: white;
    box-sizing: border-box;
    border: 1px solid rgba(222, 222, 222, 1);
    flex-basis: 328px;
    margin-bottom: 80px;
}

.comment__element h6 {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 0 0 20px 35px;
}

.comment__element--title h6 {
    margin-left: 15px;
    margin-top: 20px;
    text-align: left;
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

/* team */
.team {
    padding: 80px 0 62px;
}

.team h2 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
}

.team p {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0 80px;
}

.team__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__element {
    box-sizing: border-box;
    border: 1px solid rgba(238, 238, 238, 1);
    background: rgba(255, 255, 255, 1);
    flex-basis: 328px;
    margin-bottom: 30px;
}

.team__element>img {
    width: 100%;
}

.team__element h5 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 30px 0 5px;
}

.team__element h6 {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 5px;
}

.team__element--social {
    text-align: center;
    margin-bottom: 30px;
}

.team__element--social img {
    margin: 0 8px 0 7px;
}

/* contact */
.contact {
    background: url(images/b_5_fon.jpg) no-repeat center;
    background-size: cover;
    padding: 90px 0 92px;
}

.contact h5 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    margin: 0;
}

.contact h2 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 0 0 40px;
}

.contact__block {
    max-width: 640px;
    display: flex;
    flex-wrap: wrap;
}

.contact__block input,
.contact__block select {
    flex-basis: 290px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 12px 20px;
}

.contact__block input {
    box-sizing: border-box;
    border: 1px solid var(--muted-color, rgba(189, 189, 189, 1));
    border-radius: 5px;
    background: rgba(249, 249, 249, 1);
    color: var(--muted-color, rgba(189, 189, 189, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.contact__block select {
    box-sizing: border-box;
    border: 1px solid var(--muted-color, rgba(189, 189, 189, 1));
    border-radius: 5px;
    background: rgba(249, 249, 249, 1);
    color: var(--muted-color, rgba(189, 189, 189, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.contact__block textarea {
    box-sizing: border-box;
    border: 1px solid var(--muted-color, rgba(189, 189, 189, 1));
    border-radius: 5px;
    background: rgba(249, 249, 249, 1);
    color: var(--muted-color, rgba(189, 189, 189, 1));
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-right: 20px;
    flex-basis: 100%;
    height: 140px;
    margin-bottom: 40px;
    margin-right: 20px;
    padding: 12px 20px;
}

.contact__block button {
    border-radius: 5px;
    background: var(--primary-color, rgba(255, 166, 43, 1));
    color: var(--light-text-color, rgba(255, 255, 255, 1));
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    border: none;
    width: 224px;
    height: 58px;
    cursor: pointer;
}

/* footer */
.footer {
    background: #252B42;
}

.footer__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 142px;
}

.footer__block h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0;
}

.footer__block ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.footer__block li {
    margin-left: 20px;
}

/* end */
.end {
    height: 102px;
}

.end__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin-top: 40px;

}

.end__text h3 {
    color: var(--text-color, rgba(37, 43, 66, 1));
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0;
}

.end__text p {
    color: var(--second-text-color, rgba(115, 115, 115, 1));
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 10px;
}

.end__button a {
    background: var(--primary-color, rgba(255, 166, 43, 1));
    color: var(--light-text-color, rgba(255, 255, 255, 1));
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    margin-top: 72px;
    align-items: end;
}

/* кнопка  */

.menu__list {
    max-width: 1024px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__link {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: black;
}

.mobile {
    position: absolute;
    top: 30px;
    left: 300px;
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-left: auto;
}

.mobile span {
    height: 5px;
    width: 20px;
    display: block;
    background: var(--second-text-color, rgba(115, 115, 115, 1));
    ;
    margin: 8px 15px;
}

.mobile::before {
    content: "";
    height: 5px;
    width: 35px;
    display: block;
    background: var(--second-text-color, rgba(115, 115, 115, 1));
    ;
}

.mobile::after {
    content: "";
    height: 5px;
    width: 10px;
    margin-left: 25px;
    display: block;
    background: var(--second-text-color, rgba(115, 115, 115, 1));
    ;
}



/* медиазапросы */
@media(max-width: 1050px) {
    .wrap {
        padding: 0 40px;
        box-sizing: border-box;
    }

    .choose__block,
    .team__block,
    .comment__block {
        justify-content: space-evenly;
    }

}

@media(max-width: 760px) {
    .header h1 {
        font-size: 50px;
    }

    br {
        display: none;
    }

    .choose__element,
    .team__element,
    .comment__block {
        flex-basis: 100%;
    }

    .contact__block input,
    .contact__block select,
    .contact__block button,
    .end__block,
    .footer__block,
    .contact__block textarea {
        flex-basis: 100%;
        margin-right: 0;
    }


    .end__text h3,
    p {
        text-align: center;
    }

    .end__button {
        margin: 30px auto 30px;
        text-align: center;
    }

    .end__block {
        display: block;
        margin: 40px auto 40px;

    }

    .end {
        height: 192px;
    }
}




@media (max-width: 500px) {
    .header h1 {
        font-size: 40px;
        line-height: 57px;
    }


    .header__block,
    .header__block ul {
        display: block;
    }

    .header__block a {
        text-align: center;
        color: var(--second-text-color, rgba(115, 115, 115, 1));
        font-size: 30px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0.2px;
        margin: 30px;
    }

    .header__block li {
        margin: 0;
    }

    .header__block h3 {
        padding: 23px 0 0;
        margin: 0 0 83px;
    }

    .header__button a {
        display: block;
        margin: 0 auto 25px;
    }

    .header__button--btn1 {
        width: 185px;
        box-sizing: content-box;
    }

    .header__button--btn2 {
        width: 154px;
        box-sizing: content-box;
    }

    .header {
        padding-bottom: 25px;
    }

    .choose {
        padding-top: 75px;
    }

    .end {
        height: 192px;
    }

    .footer {
        height: 230px;
    }

    .footer__block {
        display: block;
    }

    .footer__block ul {
        text-align: left;
        padding: 0;
        margin-bottom: 40px;
    }

    .footer__block h3 {
        padding: 53px 0 74px;
    }

    .menu .menu__list {
        display: none;
    }

    .mobile {
        display: block;
    }

    .menu {
        padding: 13px;
    }

    .menu--active .mobile span {
        display: none;
    }

    .menu--active .mobile::after {
        transform: rotate(45deg) translate(-10px, 9px);
        margin-left: 15px;
        height: 5px;
        width: 35px;
    }

    .menu--active .mobile::before {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .menu--active .menu__list {
        display: block;
    }
}